<!DOCTYPE html>
<html>
<head>
    <title>My Basic Website</title>
    <style>
        body { background-color: #eee; font-family: Arial, sans-serif; }
        .container { margin: 0 auto; max-width: 800px; padding: 1em; }
        h1 { color: #444; }
        p { line-height: 1.5; }
    </style>
</head>
<script type="module">
    import Chatbot from "https://cdn.jsdelivr.net/npm/flowise-embed@latest/dist/web.js"
    Chatbot.init({
        chatflowid: "560275e5-052b-4285-b5d7-74a6f144a03f",
        apiHost: "https://frontend-production-2cfa.up.railway.app",
    })
</script>

<body>
    <div class="container">
        <h1>Welcome to my website!</h1>
        <p>This is a basic website built with Python and Flask!</p>
        <!-- Add the form and button for the checkout here -->
        <form action="/create-checkout-session" method="POST">
            <button id="checkout-button">Checkout</button>
        </form>
    </div>
</body>
</html>
